.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-align: center;

  gap: 64px;

  min-height: 100vh;
  height: auto;
  width: 100vw;

  overflow-y: auto;
  overflow-x: hidden;

  position: relative;
}

.titleCtn {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.title {
  font-size: 48px;
  font-weight: bold;
}

.card {
  width: 80%;
  max-width: 800px;

  height: 60vh;
  max-height: 800px;

  border-radius: 24px;

  //background: red;
}

.pgBlurCtn {
  //z-index: 1;
}

.pgBlur {
  position: absolute;
  bottom: 0;
  left: 0;

  width: 100%;
  height: 20%;

  pointer-events: none;
  z-index: 1;

  border-bottom-left-radius: 24px;
  border-bottom-right-radius: 24px;

  background: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.5));
}

.question {
  font-size: 32px;
  font-weight: 500;
  text-align: center;

  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  //background: red;
}

.image {
  width: 100%;
  height: 100%;

  border-radius: 24px;

  //z-index: 1;

  object-fit: cover;
}

.controls {
  position: absolute;
  bottom: 0;
  left: 0;

  padding: 18px;

  width: 100%;

  z-index: 2;

  display: flex;
  gap: 28px;

  align-items: center;
  justify-content: center;
}
