.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-align: center;

  gap: 128px;

  height: 100vh;
  width: 100vw;

  position: relative;

  overflow: hidden;
}

.titleCtn {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.title {
  font-size: 48px;
  font-weight: bold;
}

.desc {
  font-size: 18px;
}

.toolrow {
  display: flex;
  flex-direction: row;
  align-items: center;

  width: 80%;

  bottom: 100px;

  justify-content: space-around;

  //background: red;

  gap: 16px;
}
