.container {
  display: flex;
  justify-content: center;
  align-items: center;

  flex-direction: column;

  gap: 64px;

  width: 100vw;

  height: auto;
  min-height: 100vh;

  background-color: inherit;
  // background-color: red;

  // overflow-y: auto;
  // overflow-x: hidden;

  position: relative;
}

.levelInfoPage {
  display: flex;
  justify-content: center;
  align-items: center;

  flex-direction: row;

  gap: 32px;

  width: 100%;
  height: 100vh;

  background-color: inherit;
  // background: purple;

  position: relative;

  .levelInfoCtn {
    display: flex;
    align-items: center;
    justify-content: center;

    flex-direction: column;

    gap: 48px;

    background-color: inherit;
    // background-color: red;

    position: relative;

    height: 100vh;

    padding: 24px 64px;

    z-index: 1;

    &[data-enabled="true"]::before {
      content: "";

      position: absolute;
      top: 50%;
      right: 0;

      transform: translateY(-50%);

      width: 2px;
      height: 80vh;

      background: rgba(2, 2, 2, 0.2);
      filter: blur(2px);

      box-shadow: 4px 0px 10px rgba(0, 0, 0, 0.5);
    }

    .levelInfoSection {
      display: flex;
      flex-direction: column;
      align-items: center;

      gap: 16px;
    }

    .levelInfoOptions {
      display: flex;
      flex-direction: column;
      align-items: center;

      gap: 24px;
    }

    .levelTitle {
      font-size: 48px;
      font-weight: bold;
    }

    .levelDesc {
      font-size: 18px;
    }

    .gameMode {
      display: flex;
      align-items: center;
      justify-content: center;

      flex-direction: row;

      white-space: nowrap;

      gap: 8px;

      .gameModeSelect {
        width: 128px;
      }
    }
  }

  .answersCtn {
    max-height: 80vh;

    overflow-y: auto;
    overflow-x: hidden;

    // remove scrollbar style
    &::-webkit-scrollbar {
      width: 0;
      height: 0;
    }

    &::-webkit-scrollbar-track {
      background: transparent;
    }

    &::-webkit-scrollbar-thumb {
      background: transparent;
    }

    // &::before {
    //   content: "";

    //   position: absolute;

    //   width: 2px;
    //   height: 100%;

    //   background: rgba(2, 2, 2, 0.2);
    //   filter: blur(2px);

    //   box-shadow: 4px 0px 10px rgba(0, 0, 0, 0.5);
    // }

    .answersFrame {
      display: flex;
      flex-direction: column;
      align-items: center;

      gap: 24px;

      padding: 48px;
    }

    .answer {
      display: flex;
      align-items: center;
      justify-content: flex-start;

      flex-direction: row;

      width: 100%;

      gap: 20px;
    }

    .answerImageCtn {
      width: 200px;
      height: 132px;

      .answerImage {
        object-fit: cover;
        border-radius: 12px;

        width: 100%;
        height: 100%;

        cursor: pointer;

        transition: scale 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);

        &:hover {
          scale: 1.02;
        }

        &:active {
          scale: 0.98;
        }
      }
    }

    .answerInfo {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;

      flex-direction: column;

      // background: red;

      height: 100%;

      gap: 38px;
    }

    .answerTitle {
      font-size: 20px;
    }

    .answerQuestion {
      font-size: 20px;
    }

    .answerActions {
      display: flex;
      align-items: center;
      justify-content: center;

      flex-direction: row;

      gap: 24px;
    }

    .actionButton {
      &:hover {
        .icon {
          scale: 1.1;
          filter: drop-shadow(0px 0px 5px rgba(255, 255, 255, 0.5));
        }
      }

      &:active {
        .icon {
          scale: 1.05;
          filter: drop-shadow(0px 0px 5px rgba(255, 255, 255, 0.5));
        }
      }

      .icon {
        transition:
          filter 0.2s ease-in-out,
          scale 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
      }
    }
  }
}

.stageLabel {
  display: flex;
  align-items: flex-start;
  justify-content: center;

  flex-direction: column;

  gap: 24px;

  position: fixed;
  top: 0;
  left: 0;

  padding: 24px;

  font-size: 18px;

  z-index: 2;
}

.endSession {
  display: flex;
  align-items: flex-start;
  justify-content: center;

  gap: 24px;

  position: fixed;
  top: 0;
  right: 0;

  padding: 24px;

  z-index: 2;
}

.gameCtn {
  display: flex;
  justify-content: center;
  align-items: center;

  flex-direction: row;

  gap: 24px;

  width: 100%;

  padding-bottom: 40px;
}

// .toolrow {
//   display: flex;
//   flex-direction: column;
//   align-items: flex-start;

//   gap: 24px;

//   position: sticky;
//   bottom: 20px;
//   z-index: 10;
// }
.option {
  display: flex;
  justify-content: space-between;
  //justify-content: space-around;
  align-items: center;
  flex-direction: column;

  width: 100%;

  gap: 12px;

  max-width: 800px;

  z-index: 3;

  //padding: 24px;

  //background: blue;
}

.answerRow {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;

  width: 100%;

  gap: 20px;
}

.question {
  background: #2d2d2d;
  border-radius: 12px;
  padding: 24px 32px;
  cursor: pointer;

  margin-right: 20px;
  flex: 1;

  transition: background-color 0.2s ease-in-out;
}

.hint {
  font-size: 14px;

  margin-right: 8px;
}
.dict {
  font-size: 14px;
  margin-top: 8px;
  color: rgb(72, 142, 255);

  margin-left: 24px;
}

.question_selected {
  background: #464646;
}

.image {
  object-fit: cover;
  border-radius: 12px;

  width: 100%;
  height: 100%;
}

.imageCtn {
  width: 200px;
  height: 132px;
}

.keybindBtn {
  position: absolute;
  z-index: 10;
  backdrop-filter: blur(10px);

  //  shadow
}
