.container {
  display: flex;
  justify-content: center;
  align-items: center;

  flex-direction: column;

  gap: 64px;

  width: 100vw;

  height: auto;
  min-height: 100vh;

  // overflow-y: auto;
  // overflow-x: hidden;

  position: relative;
}

.levelInfoPage {
  display: flex;
  justify-content: center;
  align-items: center;

  flex-direction: row;

  gap: 64px;

  width: 100%;
  height: 100%;

  background: red;
}

.levelInfoCtn {
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 48px;

  .levelInfoSection {
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 16px;
  }

  .levelTitle {
    font-size: 48px;
    font-weight: bold;
  }

  .levelDesc {
    font-size: 18px;
  }

  .gameMode {
    display: flex;
    align-items: center;
    justify-content: center;

    flex-direction: row;

    gap: 8px;

    .gameModeSelect {
      width: 128px;
    }
  }
}

.toolrow {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  gap: 24px;

  position: sticky;
  bottom: 20px;
  z-index: 10;
}

.gameCtn {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 24px;

  //background: red;

  width: 100%;

  padding-bottom: 40px;
}

.stageLabel {
  font-size: 18px;

  position: fixed;
  top: 0;
  left: 0;

  z-index: 2;

  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;

  gap: 24px;

  padding: 20px;
}

.option {
  display: flex;
  justify-content: space-between;
  //justify-content: space-around;
  align-items: center;
  flex-direction: column;

  width: 100%;

  gap: 12px;

  max-width: 800px;

  z-index: 3;

  //padding: 24px;

  //background: blue;
}

.answerRow {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;

  width: 100%;

  gap: 20px;
}

.question {
  background: #2d2d2d;
  border-radius: 12px;
  padding: 24px 32px;
  cursor: pointer;

  margin-right: 20px;
  flex: 1;

  transition: background-color 0.2s ease-in-out;
}

.hint {
  font-size: 14px;

  margin-right: 8px;
}
.dict {
  font-size: 14px;
  margin-top: 8px;
  color: rgb(72, 142, 255);

  margin-left: 24px;
}

.question_selected {
  background: #464646;
}

.image {
  object-fit: cover;
  border-radius: 12px;

  width: 100%;
  height: 100%;
}

.imageCtn {
  width: 200px;
  height: 132px;
}

.keybindBtn {
  position: absolute;
  z-index: 10;
  backdrop-filter: blur(10px);

  //  shadow
}
