.welcome {
  position: absolute;
  top: 0;
  left: 0;

  width: 100vw;
  height: 100vh;

  color: var(--text-color);

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  backdrop-filter: blur(5px);
  background-color: rgba(0, 0, 0, 0.4);

  z-index: 11;

  .welcomeTitle {
    margin-bottom: 0.4rem;
    font-size: 2rem;

    font-family: "Times New Roman", Times, serif;

    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.236);
  }

  .welcomeMessage {
    font-size: 1.2rem;
    margin-bottom: 0.4rem;
    font-style: italic;

    font-family: "Times New Roman", Times, serif;

    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.236);
  }
}
