.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-align: center;

  background: black;

  gap: 64px;

  min-height: 100vh;
  height: auto;
  width: 100vw;

  overflow-y: auto;
  overflow-x: hidden;

  position: relative;
}

.frameCtn {
  width: 100%;
  max-width: 1920px;

  height: 100vh;
  max-height: 1080px;

  display: flex;
  justify-content: center;
  align-items: center;

  position: fixed;
  top: 50%;
  left: 50%;

  background: black;

  transform: translate(-50%, -50%);

  opacity: 0;

  z-index: 10;

  pointer-events: none;

  &.frameCtnActive {
    opacity: 1;
    pointer-events: all;
  }

  .frameText {
    font-size: calc(16px + 2vw);
    font-weight: 600;
    font-family: "Courier New", Courier, monospace;
    //text-transform: uppercase;
  }

  .actionTextTools {
    position: fixed;
    bottom: 32px;
    left: 0;

    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.frame {
  position: fixed;

  object-fit: contain;

  width: 100%;
  height: 100%;
  //background: black;
}

.titleCtn {
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 16px;

  font-family:
    Courier New,
    cursive;

  text-transform: uppercase;
}

.title {
  font-size: 48px;
  font-weight: bold;
}

.card {
  width: 80%;
  max-width: 800px;

  height: 60vh;
  max-height: 800px;

  border-radius: 24px;

  //background: red;

  position: relative;
  z-index: 1;
}

.glowLayer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  z-index: -1;

  transform: scale(1.05);

  filter: blur(60px) sepia(0.5) saturate(200%) brightness(1.1);

  //mask-image: radial-gradient(ellipse at center, black 10%, black 100%);
  //-webkit-mask-image: radial-gradient(
  //  ellipse at center,
  //  black 40%,
  //  transparent 100%
  //);

  border-radius: 40px;
  pointer-events: none;
  opacity: 0.6;

  //filter: blur(20px) saturate(70%) brightness(1.2);
  //
  //transform: scale(1.05);
  //
  object-fit: cover;
  //border-radius: 24px;
  //pointer-events: none;
}

.pgBlurCtn {
  //z-index: 1;
}

.pgBlur {
  position: absolute;
  bottom: 0;
  left: 0;

  width: 100%;
  height: 20%;

  pointer-events: none;
  z-index: 1;

  border-bottom-left-radius: 24px;
  border-bottom-right-radius: 24px;

  background: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.5));
}

.toolbarTopRight {
  position: absolute;
  top: 0;
  right: 0;

  padding: 42px;

  z-index: 2;
}

.question {
  font-size: 32px;
  font-weight: 500;
  text-align: center;

  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  //background: red;
}

.image {
  width: 100%;
  height: 100%;

  border-radius: 24px;

  //z-index: 1;

  object-fit: cover;
}

.controls {
  position: absolute;
  bottom: 0;
  left: 0;

  padding: 18px;

  width: 100%;

  z-index: 2;

  display: flex;
  gap: 28px;

  align-items: center;
  justify-content: center;
}

.reviewTools {
  display: flex;
  gap: 28px;

  align-items: center;
  justify-content: center;
}
