.selectionBox {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: space-between;

  background: rgba(63, 63, 63, 0.38);

  backdrop-filter: blur(10px);

  width: 100%;

  padding: 4px 8px;

  border-radius: 10px;
  //border: 1px solid rgba(255, 255, 255, 0.1);

  overflow: hidden;

  transition: background 0.2s ease;

  &:hover {
    cursor: pointer;

    background: rgba(56, 56, 56, 0.36);
  }

  .marqueeWindow {
    position: relative;

    min-width: 0;

    flex: 1;

    overflow: hidden;
    white-space: nowrap;

    &.hasOverflow {
      mask-image: linear-gradient(
        90deg,
        transparent 0%,
        black 5%,
        black 95%,
        transparent 100%
      );
    }

    .marqueeContent {
      display: inline-block;

      white-space: nowrap;

      padding-left: 100%;
      animation: scroll 12s linear infinite;

      //&:hover {
      //  animation-play-state: paused;
      //}
    }

    .staticContent {
      display: block;

      white-space: nowrap;
      overflow: hidden;

      text-overflow: ellipsis;
    }
  }

  .icon {
    width: 16px;
    height: 16px;

    margin-left: 8px;

    z-index: 2;

    flex-shrink: 0;
  }
}

@keyframes scroll {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-100%, 0);
  }
}

.selectionPage {
  position: fixed;

  border-radius: 28px;

  background: transparent;

  backdrop-filter: blur(10px);
  padding: 0;

  border: none;
  outline: none;
  box-shadow: none;

  width: 200px;
  max-height: 248px;
}

.selectionPageMag {
  background-color: rgba(40, 40, 40, 0.32);

  box-shadow: 0 2px 12px rgba(61, 61, 61, 0.19);
  border: 1px solid rgba(255, 255, 255, 0.1);

  border-radius: inherit;
  padding: 8px;

  .selectionItem {
    padding: 8px 12px;

    border-radius: 24px;

    transition: background-color 0.2s ease;

    &:last-child {
      border-bottom: none;
    }

    &:hover {
      background-color: rgba(100, 100, 100, 0.12);

      cursor: pointer;
    }

    &:hover[data-selected="true"] {
      cursor: not-allowed;
    }

    // .itemText {
    //transition: opacity 0.2s ease;

    // &.itemTextSelected {
    //   opacity: 0.5;
    // }
    // }
  }
}
