.selectionBox {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: space-between;

  background: rgba(12, 12, 12, 0.24);

  backdrop-filter: blur(10px);

  width: 100%;

  padding: 4px 8px;

  border-radius: 8px;

  overflow: hidden;

  transition: background 0.2s ease;

  &:hover {
    cursor: pointer;

    background: rgba(56, 56, 56, 0.36);
  }

  .icon {
    width: 16px;
    height: 16px;

    margin-left: 8px;

    z-index: 2;

    flex-shrink: 0;
  }
}

.marqueeWindow {
  position: relative;

  min-width: 0;

  flex: 1;

  overflow: hidden;
  white-space: nowrap;

  &.hasOverflow {
    mask-image: linear-gradient(
      90deg,
      transparent 0%,
      black 5%,
      black 95%,
      transparent 100%
    );
  }
}

.marqueeContent {
  display: inline-block;

  white-space: nowrap;

  padding-left: 100%;
  animation: scroll 12s linear infinite;

  //&:hover {
  //  animation-play-state: paused;
  //}
}

.staticContent {
  display: block;

  white-space: nowrap;
  overflow: hidden;

  text-overflow: ellipsis;
}

@keyframes scroll {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-100%, 0);
  }
}

.settingsPage {
  position: fixed;

  outline: none;

  background-color: rgba(40, 40, 40, 0.32);
  backdrop-filter: blur(10px);
  box-shadow: 0 2px 12px rgba(61, 61, 61, 0.19);

  width: 200px;
  //height: 200px;
}
