@import "tailwindcss";

:root {
  --background: #171717;
  --foreground: #e2e2e2;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
