.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-align: center;

  gap: 48px;
}

.title {
  font-size: 48px;
  font-weight: bold;
}

.kapow {
  border-radius: 48px;

  width: 100%;
  height: 100%;

  object-fit: cover;

  //position: relative;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.levels {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;

  width: 256px;
  height: 326px;

  //background: red;

  position: relative;
}

.controls {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 93%;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  //background: blue;
}

.select {
  background: rgba(61, 61, 61, 0.29);
  backdrop-filter: blur(16px);
  border: none;
  border-radius: 8px;
  padding: 10px;
  color: white;
  font-size: 24px;
  cursor: pointer;
  transition: all 0.2s ease;
}
