.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-align: center;

  gap: 48px;

  height: 100vh;
  width: 100vw;

  position: relative;

  overflow: hidden;
}

.title {
  font-size: 48px;
  font-weight: bold;
}

.pgBlur {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 30%;
  pointer-events: none;
  z-index: 9;

  border-bottom-left-radius: 24px;
  border-bottom-right-radius: 24px;

  background: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 1));
}

.kapow {
  border-radius: 24px;

  width: 100%;
  height: 100%;

  object-fit: cover;

  //position: relative;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.levels {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;

  width: 256px;
  height: 326px;

  //background: red;

  position: relative;
}

.controls {
  position: absolute;
  bottom: 0;
  //top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  z-index: 10;
  width: 93%;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  //background: blue;
}

.select {
  background: rgba(61, 61, 61, 0.29);
  backdrop-filter: blur(16px);
  border: none;
  border-radius: 8px;
  padding: 10px;
  color: white;
  font-size: 24px;
  cursor: pointer;
  user-select: none;
}

.levelIndicator {
  font-size: 24px;
  font-weight: bold;
  color: white;
}

.levelNumber {
  font-size: 24px;
}

.menuCtn {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}
