@keyframes grain {
  0%,
  100% {
    transform: translate(0, 0);
  }
  10% {
    transform: translate(-1%, -1%);
  }
  20% {
    transform: translate(1%, 1%);
  }
  30% {
    transform: translate(-2%, -2%);
  }
  40% {
    transform: translate(3%, 3%);
  }
  50% {
    transform: translate(-3%, -3%);
  }
  60% {
    transform: translate(4%, 4%);
  }
  70% {
    transform: translate(-4%, -4%);
  }
  80% {
    transform: translate(2%, 2%);
  }
  90% {
    transform: translate(-3%, -3%);
  }
}

@keyframes filmScratch {
  0%,
  100% {
    transform: translateX(0);
    opacity: 0.5;
  }
  10% {
    transform: translateX(-1%);
  }
  20% {
    transform: translateX(1%);
  }
  30% {
    transform: translateX(-2%);
    opacity: 0.75;
  }
  40% {
    transform: translateX(3%);
  }
  50% {
    transform: translateX(-3%);
    opacity: 0.5;
  }
  60% {
    transform: translateX(8%);
  }
  70% {
    transform: translateX(-3%);
  }
  80% {
    transform: translateX(10%);
    opacity: 0.25;
  }
  90% {
    transform: translateX(-2%);
  }
}

@keyframes effectScratch {
  0% {
    transform: translateX(0);
    opacity: 0.75;
  }
  10% {
    transform: translateX(-1%);
  }
  20% {
    transform: translateX(1%);
  }
  30% {
    transform: translateX(-2%);
  }
  40% {
    transform: translateX(3%);
  }
  50% {
    transform: translateX(-3%);
    opacity: 0.5;
  }
  60% {
    transform: translateX(8%);
  }
  70% {
    transform: translateX(-3%);
  }
  80% {
    transform: translateX(10%);
    opacity: 0.25;
  }
  90% {
    transform: translateX(20%);
  }
  100% {
    transform: translateX(30%);
  }
}

.filmLayer {
  filter: blur(0.45px) drop-shadow(0px 0px 0px rgba(255, 255, 255, 0.1))
    invert(1);

  background: transparent;

  width: 100%;
  height: 100%;

  pointer-events: none;

  &::after {
    content: "";
    position: absolute;
    width: 120%;
    height: 100%;
    top: 0;
    left: 0;
    padding-left: 100px;
    opacity: 0.5;
    background: repeating-linear-gradient(
      90deg,
      rgba(0, 0, 0, 0.13) 0 2px,
      transparent 4px 37vmin
    );
    animation: filmScratch 0.45s steps(1) infinite;
  }
}

.effectLayer {
  width: 100%;
  height: 100%;
  &::after {
    content: "";
    position: absolute;
    width: 120%;
    height: 100%;
    top: 0;
    left: 30%;
    padding-left: 100px;
    opacity: 0.5;
    background: repeating-linear-gradient(
      90deg,
      rgba(0, 0, 0, 0.13) 0 2px,
      transparent 4px 37vmin
    );
    animation: effectScratch 2s infinite;
  }
}

.grainLayer {
  width: 100%;
  height: 100%;
  &::after {
    content: "";
    position: absolute;
    width: 110%;
    height: 110%;
    top: -5%;
    left: -5%;
    opacity: 0.25;
    background-image:
      repeating-conic-gradient(
        #000 0%,
        transparent 0.00003%,
        transparent 0.0005%,
        transparent 0.00095%
      ),
      repeating-conic-gradient(
        #000 0%,
        transparent 0.00005%,
        transparent 0.00015%,
        transparent 0.0009%
      );
    animation: grain 0.5s steps(1) infinite;
    filter: drop-shadow(0px 0px 1px black);
  }
}
