.settings {
  position: fixed;
  bottom: 0;
  right: 0;

  width: 48px;
  height: 48px;

  display: flex;
  align-items: center;
  justify-content: center;

  margin-right: 20px;
  margin-bottom: 20px;

  z-index: 99;
}

.settingsMagnet {
  border-radius: 100%;

  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  background: transparent;

  transition:
    scale 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275),
    background-color 0.2s ease,
    box-shadow 0.2s ease;

  &.settingsMagnetClosed {
    background-color: rgba(40, 40, 40, 0.56);
    backdrop-filter: blur(10px);

    &:hover {
      background-color: #3d3d3d;
      box-shadow: 0 4px 12px #3d3d3d;

      scale: 1.1;
    }

    &:active {
      scale: 0.95;
    }
  }
}
.settingsPage {
  position: fixed;
  bottom: 0;
  right: 0;

  margin-right: 20px;
  margin-bottom: 20px;

  //background-color: #2d2d2d;

  background: transparent;
  backdrop-filter: blur(10px);

  //background-color: rgba(40, 40, 40, 0.32);
  //box-shadow: 0 2px 12px rgba(61, 61, 61, 0.19);

  outline: none;
  border: none;
  box-shadow: none;

  padding: 0;

  z-index: 99;

  width: 200px;
}

.settingsPageMag {
  background-color: rgba(40, 40, 40, 0.32);
  backdrop-filter: blur(10px);

  box-shadow: 0 2px 12px rgba(61, 61, 61, 0.19);

  border: 1px solid rgba(255, 255, 255, 0.1);

  border-radius: inherit;

  padding: 8px;

  display: flex;
  flex-direction: column;
}

.section {
  display: flex;
  flex-direction: row;
  align-items: center;

  gap: 10px;

  padding: 12px;

  //border-top: 1px solid #3d3d3d;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.musicTrackSelection {
  width: 100%;
  min-width: 0;

  display: flex;
  flex-direction: column;

  gap: 8px;
}

.icon {
  width: 32px;
  height: 32px;
}

.settingsTitle {
  display: flex;
  align-items: center;

  //padding: 24px;

  margin-top: 6px;
  margin-left: 6px;

  font-weight: 600;
  font-size: 19px;

  //background: red;

  gap: 10px;

  margin-bottom: 14px;
}
